{
    "apiPort"  : 4000,
    "logLevel" : "debug",
    "apiSecret" : "s3cr3t",
    "sessionSecret" : "s3cret",

    "checkpointGroup" : "ocwa-checkpoint",

    "projectsc" : { 
        "host" : "", 
        "token" : "" 
    },

    "github": { 
        "token" : "" 
    },

    "git_user": { 
        "username" : "", 
        "email" : "" 
    }

    "keycloak": {
        "url": "",
        "realm": "",
        "client_id": "",
        "client_secret": ""
    },

    "ocwa": {
        "ignoredGroups": "/sre-users,/exporterstg,/exporter,/oc,/reports"
        "projectWhitelist": ""
    },

    "bbsae": {
        "project_name": "bbsae-applications",
        "enabled": true,
        "ssh_key_pub": "",
        "pipeline_url": "https://ds-infra-listener.stg.bbsae.xyz:443"
    },

    "recorder_url": "https://authstg-vm.popdata.bc.ca"
}